<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="icon" href="/images/logo-bhxh.svg">
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Thông tin cá nhân</title>
      	<link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" 
	integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
	<style type="text/css">
.center {
	position: relative;
  margin-left: auto;
    margin-right: auto;
  /* width: 50%; */
  
  /* padding: 10px; */
}
.btn-width{
	width:198px;
}
.btn-position{
	margin-right:0
}
body{
    /* margin-top:20px; */
    background:#f5f7fa;
    
}
.panel.panel-default {
    border-top-width: 3px;
    background: #ffffff;
}
.panel {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.098),0 1px 5px 0 rgba(0,0,0,.084);
    border: 0;
    border-radius: 4px;
    margin-bottom: 16px;
}
.thumb96 {
    width: 96px!important;
    height: 96px!important;
}
.thumb48 {
    width: 48px!important;
    height: 48px!important;
}
.panel-fix{
	padding-bottom: 20px;
	padding-top: 20px;
}
.btn-outline-primary {
    border-color: #26B4FF;
    background: transparent;
    color: #26B4FF;
}
.a{
	padding-left:0;
	padding-right:10px;
    max-width: 25%;

}
.card-fix{
	background:#ffffff;
}
.margin-fix{
	margin-bottom: 0px;
}

	</style>
</head>

<body>
<div th:replace="/layout/header :: header"> </div>
 <div id="layoutSidenav_content">
    
       
   		
   		<div class="container panel-fix">
<div class="row ng-scope">
    <div class="col-md-4 a">
        <div class="panel panel-default panel-fix">
            <div class="panel-body text-center">
                <div class="pv-lg"><img class="center-block img-responsive img-circle img-thumbnail thumb96" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Contact"></div>
                <h3 class="m0 text-bold" id="name-display">Audrey Hunt</h3>
                
                
                
                <div class="mv-lg">
                    <p>Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!</p>
                </div>
                <div class="text-center"><a class="btn btn-outline-primary" href="">Thay ảnh đại diện</a></div>
            </div>
        </div>
        <div class="panel panel-default hidden-xs hidden-sm ">
            <div class="panel-heading">
                <div class="panel-title text-center">Recent contacts</div>
            </div>
            <div class="panel-body">
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#"><img class="media-object img-circle img-thumbnail thumb48" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="Contact"></a>
                    </div>
                    <div class="media-body pt-sm">
                        <div class="text-bold">Floyd Ortiz
                            <div class="text-sm text-muted">12m ago</div>
                        </div>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#"><img class="media-object img-circle img-thumbnail thumb48" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="Contact"></a>
                    </div>
                    <div class="media-body pt-sm">
                        <div class="text-bold">Luis Vasquez
                            <div class="text-sm text-muted">2h ago</div>
                        </div>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#"><img class="media-object img-circle img-thumbnail thumb48" src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="Contact"></a>
                    </div>
                    <div class="media-body pt-sm">
                        <div class="text-bold">Duane Mckinney
                            <div class="text-sm text-muted">yesterday</div>
                        </div>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#"><img class="media-object img-circle img-thumbnail thumb48" src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="Contact"></a>
                    </div>
                    <div class="media-body pt-sm">
                        <div class="text-bold">Connie Lambert
                            <div class="text-sm text-muted">2 weeks ago</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
<div class="card h-100 card-fix">
<form th:action="@{/canhan/add}" th:object="${canhan}" method="post">
	<div class="card-body">
		<div class="row gutters">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<h4 class="mb-2 text-primary">Thông tin cá nhân</h4>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label for="fullName">Họ tên</label>
					<input type="text" id="name-profile" th:field="*{name}" class="form-control card-fix" disabled="disabled" >
					
					<script type="text/javascript">
                var name = document.getElementById("name-profile").value;
                document.getElementById("name-display").innerHTML =name;
                </script>
					
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label for="eMail">Ngày sinh</label>
					<input type="date" th:field="*{ngaySinh}" class="form-control card-fix" disabled="disabled" >
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label for="phone">Số CMND</label>
					<input type="text" th:field="*{soCMND}" class="form-control card-fix" disabled="disabled" >
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label for="website">Giới tính</label>
					<input type="text" th:field="*{gioiTinh}" class="form-control card-fix"  disabled="disabled">
				</div>
			</div>
			
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label >Thư điện tử</label>
					<input type="text" th:field="*{email}" class="form-control card-fix" disabled="disabled" >
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label >Số điện thoại</label>
					<input type="text" th:field="*{soDT}" class="form-control card-fix" disabled="disabled" >
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label >Địa chỉ</label>
					<input type="text" th:field="*{diaChi}" class="form-control card-fix" disabled="disabled">
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label >Thành phố</label>
					<input type="text" th:field="*{thanhPho}" class="form-control card-fix" disabled="disabled" >
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label >Phường</label>
					<input type="text" th:field="*{quan}" class="form-control card-fix" disabled="disabled" >
				</div>
			</div>
		</div>
	
		<div class="row gutters">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="text-right">
					
					<button type="button" id="submit" name="submit" class="btn btn-primary">Thay đổi thông tin</button>
				</div>
			</div>
		</div>
	</div>
	</form>
</div>
</div>
</div>
</div>
   		
        </div>   
        
   
</body>

</html>