<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
		<link rel="icon" href="/images/logo-bhxh.svg">
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Bảo hiểm y tế cho doanh nghiệp</title>
      	<link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" 
	integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
	<style type="text/css">
.center {
	position: relative;
    margin-left: auto;
    margin-right: auto;
  /* width: 50%; */
  
  /* padding: 10px; */
}
.btn-width{
	width:198px;
}
.btn-position{
	margin-right:0
}

	</style>
</head>

<body class="sb-nav-fixed">
<div th:replace="/layout/header :: header"> </div>
 <div id="layoutSidenav_content">
    <div class="container my-5" style="margin-top: 3.5rem !important;max-width: 90%">
    				<div th:if="${param.success}">
						<div class="alert alert-info">Bạn đã đăng kí thành công</div>
						<script type="text/javascript">
						window.setTimeout(function() {
						    $(".alert.alert-info").fadeTo(500, 0).slideUp(500, function(){
						        $(this).remove(); 
						    });
						}, 2000);
						</script>
					</div>
        <h3>Danh sách nhân viên</h3>
   		<div class="card">
            <div class="card-body">
            <div class="col-md-10 center" style="max-width: 100%">
            <div>
  			<div style="max-width: 50%;float: left;margin-left: 20%">
  				<h6 style="float: left">Tên doanh nghiệp: </h6><label></label> <label th:text="${doanhnghiep.ten}"></label><br>
  				<h6 style="float: left">Mã đơn vị: </h6><label></label> <label th:text="${doanhnghiep.maDonVi}"></label><br>
  				<h6 style="float: left">Mã số thuế: </h6><label></label> <label th:text="${doanhnghiep.maThue}"></label><br>
  				<h6 style="float: left">Giấy phép kinh doanh: </h6><label></label> <label th:text="${doanhnghiep.giayPhepKinhDoanh}"></label>
  			</div>
  			
  			<div style="max-width: 50%;float: right;margin-right: 20%">
  				<h6 style="float: left">Địa chỉ kinh doanh: </h6><label></label> <label th:text="${doanhnghiep.diaChiKinhDoanh}"></label><br>
  				<h6 style="float: left">Địa chỉ Liên Hệ: </h6><label></label> <label th:text="${doanhnghiep.diaChiLienHe}"></label><br>
  				<h6 style="float: left">Số điện thoại: </h6><label></label> <label th:text="${doanhnghiep.soDT}"></label><br>
  				<h6 style="float: left">Email: </h6><label></label> <label th:text="${doanhnghiep.email}"></label>
            </div>
            </div>
            <br>  <br>  <br>  <br>  <br>  <br> 
            <a th:href="@{/nhanvien}"><button type="button" class="btn btn-outline-primary">Thêm nhân viên</button></a>
            
           <a th:href="@{/}"> <button type="button" class="btn btn-outline-secondary">Trang chủ</button></a>
            <br>  <br>
            				<div class="col-md-12">
								<!-- <h2 th:case="null">No user yet!</h2> -->
							<!-- 	<div th:case="*"> -->
									<table class="table table-striped table-responsive-md" id="table">
										<thead>
											<tr>
											    <th>STT</th>
												<th>Họ tên</th>
											
												<th>Ngày sinh</th>
												<th>Mã BHXH</th>
												<th>Chức vụ</th>
												<th>Mức lương</th>
												<th>Phụ cấp</th>
												
												<th>Người lao động đóng</th>
												<th>Doanh nghiệp đóng</th>
												<th>Tổng cộng</th>
												<th>Xóa</th>
											</tr>
										</thead>
										<tbody>

											 	<tr th:each="nhanvien,state : ${nhanvien}">
											 		<td th:text="${state.count}"></td>
													<td th:text="${nhanvien.ten}"></td>
													
													<td th:text="${#dates.format(nhanvien.ngaySinh,'dd/MM/yyyy')}"></td>
													<td th:text="${nhanvien.maBHXH}"></td>
													<td th:text="${nhanvien.chucVu}"></td>
													<td th:text="${#numbers.formatDecimal(nhanvien.mucluong, 1, 'DEFAULT', 0, 'DEFAULT')}"></td>
													<td th:text="${#numbers.formatDecimal(nhanvien.phuCap, 1, 'DEFAULT', 0, 'DEFAULT')}"></td>
													<td th:text="${((nhanvien.mucluong+nhanvien.phuCap)*15)/1000}"></td> <!-- {#numbers.formatDecimal(((nhanvien.mucluong+nhanvien.phuCap)*15)/1000, 1, 'DEFAULT', 0, 'DEFAULT')} -->
													<td th:text="${((nhanvien.mucluong+nhanvien.phuCap)*3)/100}"></td><!-- {#numbers.formatDecimal(((nhanvien.mucluong+nhanvien.phuCap)*3)/100, 1, 'DEFAULT', 0, 'DEFAULT')} -->
													<td th:text="${((nhanvien.mucluong+nhanvien.phuCap)*15)/1000+((nhanvien.mucluong+nhanvien.phuCap)*3)/100}"></td><!-- {#numbers.formatDecimal(((nhanvien.mucluong+nhanvien.phuCap)*15)/1000+((nhanvien.mucluong+nhanvien.phuCap)*3)/100, 1, 'DEFAULT', 0, 'DEFAULT')} -->
													<td><a th:href="@{/nhanvien/delete/{id}(id=${nhanvien.id})}"
													class="btn btn-danger"><i
													class="fas fa-user-times ml-2"></i></a></td>
												</tr> 
												<tr>
													<td colspan="7" style="text-align: center;"><h6>Tổng cộng</h6></td>
													<td><h6 id="NLDsum"></h6></td>
													<td><h6 id="DNsum"></h6></td>
													<td><h6 id="total"></h6></td>
													<td>Đơn vị: VND</td>
												</tr>
										</tbody>
									</table>
								</div>
								<br>
							<label id="payment"> </label><br>
							
							
							
							<br>
							<button class="btn btn-primary " onclick="openPayment()">Thanh toán</button>
							<div id="paymentcard" style="display: none;">
								<a href="/thanhtoan/doanhnghiep/paypal"><img
								src="/images/PayPal1.jpg" style="width: 7rem;height: 4rem;border-style: double;"> </a><br>
								<a href="/thanhtoan/doanhnghiep/vnpay" ><img
								src="/images/VnPay.PNG" style="width: 7rem;height: 4rem;border-style: double;"></a>
									<!-- doanhnghiep/form -->
							</div>	
							</div>
							<script type="text/javascript">
									function numberWithCommas(x) {
									    var parts = x.toString().split(".");
									    parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ".");
									    return parts.join(".");
									}
									
									var table = document.getElementById("table");
									var NLDsum=0;	
									var DNsum=0;
									var total=0;
									for(var i=1;i<table.rows.length-1;i++){
											
										
										NLDsum=NLDsum + parseFloat(table.rows[i].cells[7].innerHTML);
										DNsum=DNsum + parseFloat(table.rows[i].cells[8].innerHTML);
										total=total + parseFloat(table.rows[i].cells[9].innerHTML);
										
										var x=table.rows[i].cells[7].innerHTML;
										table.rows[i].cells[7].innerHTML=numberWithCommas(x);
										var y=table.rows[i].cells[8].innerHTML;
										table.rows[i].cells[8].innerHTML=numberWithCommas(y);
										var z=table.rows[i].cells[9].innerHTML;
										table.rows[i].cells[9].innerHTML=numberWithCommas(z);
									}
									 // var x = document.getElementById("table").rows[5].cells;
									//  x[1].innerHTML=NLDsum;
										localStorage.setItem("payment",total);
										localStorage.setItem("price", numberWithCommas(total+' '+'VND'));
									  document.getElementById("NLDsum").innerHTML=numberWithCommas(NLDsum);
									  document.getElementById("DNsum").innerHTML=numberWithCommas(DNsum);
									  document.getElementById("total").innerHTML=numberWithCommas(total);
									  document.getElementById("payment").innerHTML="Số tiền cần thanh toán: "+numberWithCommas(total)+" VND";
									  
									  function openPayment(){
										  var x=document.getElementById("paymentcard");
											
											if(x.style.display=="none")
												x.style.display="block";
											else x.style.display="none";
									  }
									</script>
							
							
							
            </div>
        </div>   
        
    </div>
</body>

</html>