<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="icon" href="/images/logo-bhxh.svg">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Bảo hiểm y tế theo hộ gia đình</title>
<link href="../static/css/styles.css" th:href="@{/css/styles.css}"
	rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"
	  rel="stylesheet" crossorigin="anonymous" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
	integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
	crossorigin="anonymous" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
<style type="text/css">
.center {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.btn-width {
	width: 198px;
}
.btn-position {
	margin-right: 0
}
.text-size{
	font-size:22px;
}
.left-header{
	width: 0px;
}
    
</style>
</head>

<body >

	<div th:replace="/layout/header :: header"></div>

	<div id="layoutSidenav_content ">
		<div class="container my-2" style="max-width: 90%">
			<h3>Đăng kí mua BHYT theo hộ gia đình</h3>
			<div class="card">
			<div class="card-body">
			<div th:if="${param.success}">
						<div class="alert alert-info">Bạn đã đăng kí thành công</div>
						<script type="text/javascript">
						window.setTimeout(function() {
						    $(".alert.alert-info").fadeTo(500, 0).slideUp(500, function(){
						        $(this).remove(); 
						    });
						}, 2000);
						</script>
					</div>
					<div th:if="${param.delete}">
						<div class="alert alert-info">Xóa thành công</div>
						<script type="text/javascript">
						window.setTimeout(function() {
						    $(".alert.alert-info").fadeTo(500, 0).slideUp(500, function(){
						        $(this).remove(); 
						    });
						}, 2000);
						</script>
					</div>
					<div th:if="${param.error}">
						<div class="alert alert-info">Không thể xóa chính mình</div>
						<script type="text/javascript">
						window.setTimeout(function() {
						    $(".alert.alert-info").fadeTo(500, 0).slideUp(500, function(){
						        $(this).remove(); 
						    });
						}, 2000);
						</script>
					</div>
				
					
						<div th:switch="${canhan} " class="container my-5  " style="max-width: 100%">
							<p class="my-5">
								<a href="/hogiadinh/form" class="btn btn-primary"> <i
									class="fas fa-user-plus ml-2"> Thêm thành viên</i>
								</a> 
								<a href="/" class="btn btn-success"> <i class="fas fa-home">
										Trang chu</i>
								</a>
							<div class="col-md-4">
								<form action="" method="get">
									<table>
										<tr>
											<td><input type="text" class="form-control"
												name="keyword" placeholder="Nhập tên/số CMND"></td>
											<td><button type="submit" class="btn btn-info">
													<i class="fas fa-search"></i>
												</button></td>
										</tr>
									</table>
								</form>
							</div>
							</p>

							<div class="col-md-12">
								<!-- <h2 th:case="null">No user yet!</h2> -->
								<div th:case="*">
									<table class="table table-striped table-responsive-md" id="table1">
										<thead>
											<tr>
												<th>STT</th>
												<th>Họ tên</th>
												<th>Ngày sinh</th>
												<th>Giới tính</th>
												<th>Số CMND</th>
												<th>Địa chỉ</th>
												<th>Số điện thoại</th>
												<th>Số tiền</th>
												<th>Xóa</th>
											</tr>
										</thead>
										<tbody>

											<tr th:each="canhan,state : ${canhan}">
												<td th:text="${state.count}"></td>
												<td th:text="${canhan.name}"></td>
												<td th:text="${#dates.format(canhan.ngaySinh,'dd/MM/yyyy')}"></td>
												<td th:text="${canhan.gioiTinh}"></td>
												<td th:text="${canhan.soCMND}"></td>
												<td th:text="${canhan.diaChi}"></td>
												<td th:text="${canhan.soDT}"></td>
												<td></td>	
												
												<td><a th:href="@{/hogiadinh/delete/{id}(id=${canhan.id})}"
													class="btn btn-danger"><i
													class="fas fa-user-times ml-2"></i></a></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<br>
							<div >
							<p class="text-size">Tổng tiền:</p>
							<h5 id="p1"></h5>
							
							<button class="btn btn-primary" onclick="openPayment()"><i class="fa fa-dollar"> Thanh toán</i>
							</button>
							<div id="paymentcard" style="display: none;">
								<a href="/thanhtoan/hogiadinh/paypal"><img
								src="/images/PayPal1.jpg" style="width: 7rem;height: 4rem;border-style: double;"> </a><br>
								<a href="/thanhtoan/hogiadinh/vnpay" ><img
								src="/images/VnPay.PNG" style="width: 7rem;height: 4rem;border-style: double;"></a>
									<!-- doanhnghiep/form -->
							</div>
							<script type="text/javascript">
							function numberWithCommas(x) {
						    var parts = x.toString().split(".");
						    parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ".");
						    return parts.join(".");
						}
							</script>
							<script type="text/javascript">
							var table = document.getElementById("table1");
							var tbodyRowCount = table.tBodies[0].rows.length;
							var total;
							//alert('Your table has ' + tbodyRowCount + ' rows.');
						
							if(tbodyRowCount==1) total= 804600 
							else if(tbodyRowCount==2) total=804600 + 563220 
							else if(tbodyRowCount==3) total=804600 + 563220 + 482760 
							else if(tbodyRowCount==4) total=804600 + 563220 + 482760 +402300 
							else if(tbodyRowCount==5) total=804600 + 563220 + 482760 +402300 + 321840 
							else	total=804600 + 563220 + 482760 +402300 + 321840+321840*(tbodyRowCount-5)
							var test=23000;
							localStorage.setItem("payment",total);
							total=total+ " "+"VND";
							
							document.getElementById("p1").innerHTML = numberWithCommas(total);	
							localStorage.setItem("price", numberWithCommas(total));
							
							for(var i=1;i<table.rows.length;i++){
								if(i==1) table.rows[i].cells[7].innerHTML=numberWithCommas(804600)
								else	if(i==2) table.rows[i].cells[7].innerHTML=numberWithCommas(563220 )
								else if(i==3) table.rows[i].cells[7].innerHTML=numberWithCommas(482760)
								else if(i==4) table.rows[i].cells[7].innerHTML=numberWithCommas(402300)
								else if(i>=5) table.rows[i].cells[7].innerHTML=numberWithCommas(321840)
								
							}
							
							function openPayment(){
								  var x=document.getElementById("paymentcard");
									
									if(x.style.display=="none")
										x.style.display="block";
									else x.style.display="none";
							  }
							
							
							</script>
							
							 
					</div>
				</div>
			</div>
		</div>
	</div>

	</div>
</body>

</html>