<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Thông tin cá nhân</title>
      	<link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" 
	integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<style type="text/css">
.center {
	position: relative;
  margin-left: auto;
    margin-right: auto;
  /* width: 50%; */
  
  /* padding: 10px; */
}
.btn-width{
	width:198px;
}
.btn-position{
	margin-right:0
}

	</style>
</head>

<body class="sb-nav-fixed">
<div th:replace="/layout/header :: header"> </div>
 <div id="layoutSidenav_content">
    <div class="container my-5">
        <h3>Thông tin cá nhân</h3>
   		<div class="card">
            <div class="card-body">
            <div th:if="${param.success}">
						<div class="alert alert-info">Bạn đã đăng kí thành công</div>
						<script type="text/javascript">
						window.setTimeout(function() {
						    $(".alert.alert-info").fadeTo(500, 0).slideUp(500, function(){
						        $(this).remove(); 
						    });
						}, 2000);
						</script>
					</div>
                <div class="col-md-10 center">
                    <form th:action="@{/canhan/add}" th:object="${canhan}" method="post">
                    
                    
                        <div class="row center">
                             <div class="form-group col-md-8 center">
                                <label for="name" class="col-form-label">Họ và Tên</label>
                                <input type="text" th:field="*{name}" class="form-control" id="name" disabled> 
                                 
                            </div>
                            <div class="form-group col-md-8 center" >
                                <label for="ngaySinh" class="col-form-label">Ngày Sinh</label>
                                <input type="date" th:field="*{ngaySinh}" class="form-control" id="ngaySinh" placeholder="Ngày Sinh" disabled> 
                                 
                            </div>
                            <div class="form-group col-md-8 center">
                                <label  class="col-form-label">Giới Tính</label>
                                 <input type="text" th:field="*{gioiTinh}" class="form-control" id="gioitinh"  disabled>
                            </div>
                            <div class="form-group col-md-8 center">
                                <label for="soCMND" class="col-form-label">Số CMND</label>
                                <input type="number" th:field="*{soCMND}" class="form-control" maxlength="11"  id="soCMND"  disabled>
                                  
                            </div>
                            <div class="form-group col-md-8 center">
                                <label for="diaChi" class="col-form-label">Địa Chỉ</label> 
                                 <input type="text" th:field="*{diaChi}" class="form-control" id="diaChi" disabled>
                                 
                            </div>
                            <div class="form-group col-md-8 center">
                                <label for="email" class="col-form-label">Email</label> 
                                 <input type="text" th:field="*{email}" class="form-control" id="email"  disabled>
                            </div>
                            <div class="form-group col-md-8 center">
                                <label for="soDT" class="col-form-label">Số điện thoại </label>
                                <input type="text" th:field="*{soDT}" class="form-control" id="soDT" disabled>
                                   
                            </div>
                            <div class="form-group col-md-8 center">
                                <label for="thanhPho" class="col-form-label">Thành Phố</label>
                                 <input type="text" th:field="*{thanhPho}" class="form-control" id="thanhPho" disabled>
                                  
                            </div>
                            
                             <div class="form-group col-md-8 center">
                                <label for="phuong" class="col-form-label">Phường</label>
                                 <input type="text" th:field="*{phuong}" class="form-control" id="phuong" disabled>
                                  
                            </div>
                            

                            <div class=" form-group col-md-6 center ">
                            <div class=" form-group  center ">
                            
                                <input type="button" class="btn btn-primary btn-width " value="Sửa thông tin">
                               <a href="/">
                                	<input type="button" class="btn btn-secondary btn-width btn-position" value="Quay lại">
                                </a> 
                                
                                </div>       
                            </div>

                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>   
        
    </div>
</body>

</html>