<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<th:block th:if="${vnpayresponse.vnp_ResponseCode}=='00'">
	<label>Giao dịch được thực hiện thành công. Cảm ơn quý khách đã sử dụng dịch vụ</label><br>
	<label th:text="${vnpayresponse.vnp_OrderInfo}"></label><br>
	<label th:text="${#numbers.formatDecimal(vnpayresponse.vnp_Amount/100, 1, 'DEFAULT', 0, 'DEFAULT')}+' '+'VND'"></label><br>
	<label th:text="${vnpayresponse.vnp_BankCode}"></label><br>
	<label th:text="${vnpayresponse.vnp_BankTranNo}"></label><br>
	<label th:text="${vnpayresponse.vnp_CardType}"></label><br>
	<label th:text="${vnpayresponse.vnp_PayDate}"></label><br>
	<label th:text="${vnpayresponse.vnp_ResponseCode}"></label><br>
	<label th:text="${vnpayresponse.vnp_TransactionNo}"></label><br>
	<label th:text="${vnpayresponse.vnp_TxnRef}"></label>
	
	<a href="/">Quay lại</a>
</th:block>	
<th:block th:if="${vnpayresponse.vnp_ResponseCode}=='24'">
	<label>Giao dịch không thành công do: Khách hàng hủy giao dịch.</label>
</th:block>
</body>
</html>